.all {
  padding: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    318deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 99, 209, 1) 0%,
    rgba(77, 7, 148, 1) 50%,
    rgba(4, 196, 160, 1) 100%
  );
  box-shadow: inset 1px 1px 50px;
  display: grid;
  place-items: center;
}

.h3 {
  font-size: 1.5rem;
  padding: 0 10rem;
}

.h1 {
  padding: 0px;
  font-size: 3rem;
}

.a {
  background-color: transparent;
  color: rgb(24, 9, 61);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 0px 10px;
}

.a:hover {
  box-shadow: 0px 0px 0px;
  color: gray;
  transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -webkit-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -ms-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.h4 {
  display: grid;
  place-items: center;
  padding: 10px;
  
}

.a img {
  height: 1em;
}
