.bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    318deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 99, 209, 1) 0%,
    rgba(77, 7, 148, 1) 50%,
    rgba(4, 196, 160, 1) 100%
  );
  box-shadow: inset 1px 1px 50px;
  display: grid;
  place-items: center;
}

.calculator {
  padding: 1rem;
  border: 8px solid gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 10rem;
  width: 50rem;
  align-items: center;
  display: grid;
  place-items: center;
}

.calculator {
  background-color: rgba(255, 255, 240, 0.226);
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: black 0px 5px 15px;
}
